# Yusuf Classification Project

In [1]:
import pandas as pd

df = pd.read_csv("titanic_yusuf.csv")
pd.set_option("display.max_rows", 100)
df.head(10)

   Pclass  Parch  Sex_male  Survived
0       3      0         1         0
1       1      0         0         1
2       3      0         0         1
3       1      0         0         1
4       3      0         1         0
5       3      0         1         0
6       1      0         1         0
7       3      1         1         0
8       3      2         0         1
9       2      0         0         1

In [2]:
df.columns = [i for i in range(len(df.columns))]

In [3]:
df.head(100)

    0  1  2  3
0   3  0  1  0
1   1  0  0  1
2   3  0  0  1
3   1  0  0  1
4   3  0  1  0
5   3  0  1  0
6   1  0  1  0
7   3  1  1  0
8   3  2  0  1
9   2  0  0  1
10  3  1  0  1
11  1  0  0  1
12  3  0  1  0
13  3  5  1  0
14  3  0  0  0
15  2  0  0  1
16  3  1  1  0
17  2  0  1  1
18  3  0  0  0
19  3  0  0  1
20  2  0  1  0
21  2  0  1  1
22  3  0  0  1
23  1  0  1  1
24  3  1  0  0
25  3  5  0  1
26  3  0  1  0
27  1  2  1  0
28  3  0  0  1
29  3  0  1  0
30  1  0  1  0
31  1  0  0  1
32  3  0  0  1
33  2  0  1  0
34  1  0  1  0
35  1  0  1  0
36  3  0  1  1
37  3  0  1  0
38  3  0  0  0
39  3  0  0  1
40  3  0  0  0
41  2  0  0  0
42  3  0  1  0
43  2  2  0  1
44  3  0  0  1
45  3  0  1  0
46  3  0  1  0
47  3  0  0  1
48  3  0  1  0
49  3  0  0  0
50  3  1  1  0
51  3  0  1  0
52  1  0  0  1
53  2  0  0  1
54  1  1  1  0
55  1  0  1  1
56  2  0  0  1
57  3  0  1  0
58  2  2  0  1
59  3  2  1  0
60  3  0  1  0
61  1  0  0  1
62  1  0  1  0
63  3  2  1  0
64  1  0  1  0
65  3  1  1  1
66  2  0  0  1
67  3  0  1  0
68  3  2  0  1
69  3  0  1  0
70  2  0  1  0
71  3  2  0  0
72  2  0  1  0
73  3  0  1  0
74  3  0  1  1
75  3  0  1  0
76  3  0  1  0
77  3  0  1  0
78  2  2  1  1
79  3  0  0  1
80  3  0  1  0
81  3  0  1  1
82  3  0  0  1
83  1  0  1  0
84  2  0  0  1
85  3  0  0  1
86  3  3  1  0
87  3  0  1  0
88  1  2  0  1
89  3  0  1  0
90  3  0  1  0
91  3  0  1  0
92  1  0  1  0
93  3  2  1  0
94  3  0  1  0
95  3  0  1  0
96  1  0  1  0
97  1  1  1  1
98  2  1  0  1
99  2  0  1  0

In [4]:
def yusuf(column_index):
    last_column = df.columns[-1]
    sozluk_column = {}
    for i in df.columns:
        for j in range(df[i].nunique()):
            last_value = df.loc[df[column_index] == i, last_column]
            values = list(last_value)
            print(values)
            maximum_list = [values.count(j) for j in range(df[last_column].nunique())]
            maximum = max(maximum_list)
            sozluk_column[j] = [maximum_list.index(maximum), maximum]
    return sozluk_column

In [5]:
sozlukler = [yusuf(column_index) for column_index in range(len(df.columns))]

[]
[]
[]
[1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1]
[1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1]
[1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1]
[1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1]
[1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1]
[1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1]
[1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1]
[1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0]
[1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0]
[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0]
[0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0]
[0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0]
[0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
[0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
[0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
[0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
[0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
[0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
[0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
[1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0]
[1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0]
[0, 1, 0, 1, 1]
[0, 1, 0, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0]
[1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0]

In [6]:
sozlukler

[{0: [0, 372],
  1: [0, 372],
  2: [1, 136],
  3: [1, 136],
  4: [1, 136],
  5: [1, 136],
  6: [1, 136]},
 {0: [1, 3],
  1: [1, 3],
  2: [1, 65],
  3: [1, 65],
  4: [1, 65],
  5: [1, 65],
  6: [1, 65]},
 {0: [0, 0],
  1: [0, 0],
  2: [0, 468],
  3: [0, 468],
  4: [0, 468],
  5: [0, 468],
  6: [0, 468]},
 {0: [0, 0],
  1: [0, 0],
  2: [1, 342],
  3: [1, 342],
  4: [1, 342],
  5: [1, 342],
  6: [1, 342]}]

In [7]:
gercek_degerler = list(df[df.columns[-1]])
print(gercek_degerler)

[0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0]

In [8]:
df = df.drop(df.columns[-1], axis=1)
df

     0  1  2
0    3  0  1
1    1  0  0
2    3  0  0
3    1  0  0
4    3  0  1
..  .. .. ..
886  2  0  1
887  1  0  0
888  3  2  0
889  1  0  1
890  3  0  1

[891 rows x 3 columns]

In [9]:
yusuf_classifier = []
for index, row in df.iterrows():
    matrixler = []
    for i in range(len(df.columns)):
        print(row)
        matrixler.append(sozlukler[i][row[i]])
        max_liste = [0, 0]
    for m in matrixler:
        max_liste[m[0]] += m[1]
    yusuf_classifier.append(max_liste.index(max(max_liste)))

0    3
1    0
2    1
Name: 0, dtype: int64
0    3
1    0
2    1
Name: 0, dtype: int64
0    3
1    0
2    1
Name: 0, dtype: int64
0    1
1    0
2    0
Name: 1, dtype: int64
0    1
1    0
2    0
Name: 1, dtype: int64
0    1
1    0
2    0
Name: 1, dtype: int64
0    3
1    0
2    0
Name: 2, dtype: int64
0    3
1    0
2    0
Name: 2, dtype: int64
0    3
1    0
2    0
Name: 2, dtype: int64
0    1
1    0
2    0
Name: 3, dtype: int64
0    1
1    0
2    0
Name: 3, dtype: int64
0    1
1    0
2    0
Name: 3, dtype: int64
0    3
1    0
2    1
Name: 4, dtype: int64
0    3
1    0
2    1
Name: 4, dtype: int64
0    3
1    0
2    1
Name: 4, dtype: int64
0    3
1    0
2    1
Name: 5, dtype: int64
0    3
1    0
2    1
Name: 5, dtype: int64
0    3
1    0
2    1
Name: 5, dtype: int64
0    1
1    0
2    1
Name: 6, dtype: int64
0    1
1    0
2    1
Name: 6, dtype: int64
0    1
1    0
2    1
Name: 6, dtype: int64
0    3
1    1
2    1
Name: 7, dtype: int64
0    3
1    1
2    1
Name: 7, dtype: int64
0    3
1    1
2    1
Name: 7, dtype: int64
0    3
1    2
2    0
Name: 8, dtype: int64
0    3
1    2
2    0
Name: 8, dtype: int64
0    3
1    2
2    0
Name: 8, dtype: int64
0    2
1    0
2    0
Name: 9, dtype: int64
0    2
1    0
2    0
Name: 9, dtype: int64
0    2
1    0
2    0
Name: 9, dtype: int64
0    3
1    1
2    0
Name: 10, dtype: int64
0    3
1    1
2    0
Name: 10, dtype: int64
0    3
1    1
2    0
Name: 10, dtype: int64
0    1
1    0
2    0
Name: 11, dtype: int64
0    1
1    0
2    0
Name: 11, dtype: int64
0    1
1    0
2    0
Name: 11, dtype: int64
0    3
1    0
2    1
Name: 12, dtype: int64
0    3
1    0
2    1
Name: 12, dtype: int64
0    3
1    0
2    1
Name: 12, dtype: int64
0    3
1    5
2    1
Name: 13, dtype: int64
0    3
1    5
2    1
Name: 13, dtype: int64
0    3
1    5
2    1
Name: 13, dtype: int64
0    3
1    0
2    0
Name: 14, dtype: int64
0    3
1    0
2    0
Name: 14, dtype: int64
0    3
1    0
2    0
Name: 14, dtype: int64
0    2
1    0
2    0
Name: 15, dtype: int64
0    2
1    0
2    0
Name: 15, dtype: int64
0    2
1    0
2    0
Name: 15, dtype: int64
0    3
1    1
2    1
Name: 16, dtype: int64
0    3
1    1
2    1
Name: 16, dtype: int64
0    3
1    1
2    1
Name: 16, dtype: int64
0    2
1    0
2    1
Name: 17, dtype: int64
0    2
1    0
2    1
Name: 17, dtype: int64
0    2
1    0
2    1
Name: 17, dtype: int64
0    3
1    0
2    0
Name: 18, dtype: int64
0    3
1    0
2    0
Name: 18, dtype: int64
0    3
1    0
2    0
Name: 18, dtype: int64
0    3
1    0
2    0
Name: 19, dtype: int64
0    3
1    0
2    0
Name: 19, dtype: int64
0    3
1    0
2    0
Name: 19, dtype: int64
0    2
1    0
2    1
Name: 20, dtype: int64
0    2
1    0
2    1
Name: 20, dtype: int64
0    2
1    0
2    1
Name: 20, dtype: int64
0    2
1    0
2    1
Name: 21, dtype: int64
0    2
1    0
2    1
Name: 21, dtype: int64
0    2
1    0
2    1
Name: 21, dtype: int64
0    3
1    0
2    0
Name: 22, dtype: int64
0    3
1    0
2    0
Name: 22, dtype: int64
0    3
1    0
2    0
Name: 22, dtype: int64
0    1
1    0
2    1
Name: 23, dtype: int64
0    1
1    0
2    1
Name: 23, dtype: int64
0    1
1    0
2    1
Name: 23, dtype: int64
0    3
1    1
2    0
Name: 24, dtype: int64
0    3
1    1
2    0
Name: 24, dtype: int64
0    3
1    1
2    0
Name: 24, dtype: int64
0    3
1    5
2    0
Name: 25, dtype: int64
0    3
1    5
2    0
Name: 25, dtype: int64
0    3
1    5
2    0
Name: 25, dtype: int64
0    3
1    0
2    1
Name: 26, dtype: int64
0    3
1    0
2    1
Name: 26, dtype: int64
0    3
1    0
2    1
Name: 26, dtype: int64
0    1
1    2
2    1
Name: 27, dtype: int64
0    1
1    2
2    1
Name: 27, dtype: int64
0    1
1    2
2    1
Name: 27, dtype: int64
0    3
1    0
2    0
Name: 28, dtype: int64
0    3
1    0
2    0
Name: 28, dtype: int64
0    3
1    0
2    0
Name: 28, dtype: int64
0    3
1    0
2    1
Name: 29, dtype: int64
0    3
1    0
2    1
Name: 29, dtype: int64
0    3
1    0
2    1
Name: 29, dtype: int64
0    1
1    0
2    1
Name: 30, dtype: int64
0    1
1    0
2    1
Name: 30, dtype: int64
0    1
1    0
2    1
Name: 30, dtype: int64
0    1
1    0
2    0
Name: 31, dtype: int64
0    1
1    0
2    0
Name: 31, dtype: int64
0    1
1    0
2    0
Name: 31, dtype: int64
0    3
1    0
2    0
Name: 32, dtype: int64
0    3
1    0
2    0
Name: 32, dtype: int64
0    3
1    0
2    0
Name: 32, dtype: int64
0    2
1    0
2    1
Name: 33, dtype: int64
0    2
1    0
2    1
Name: 33, dtype: int64
0    2
1    0
2    1
Name: 33, dtype: int64
0    1
1    0
2    1
Name: 34, dtype: int64
0    1
1    0
2    1
Name: 34, dtype: int64
0    1
1    0
2    1
Name: 34, dtype: int64
0    1
1    0
2    1
Name: 35, dtype: int64
0    1
1    0
2    1
Name: 35, dtype: int64
0    1
1    0
2    1
Name: 35, dtype: int64
0    3
1    0
2    1
Name: 36, dtype: int64
0    3
1    0
2    1
Name: 36, dtype: int64
0    3
1    0
2    1
Name: 36, dtype: int64
0    3
1    0
2    1
Name: 37, dtype: int64
0    3
1    0
2    1
Name: 37, dtype: int64
0    3
1    0
2    1
Name: 37, dtype: int64
0    3
1    0
2    0
Name: 38, dtype: int64
0    3
1    0
2    0
Name: 38, dtype: int64
0    3
1    0
2    0
Name: 38, dtype: int64
0    3
1    0
2    0
Name: 39, dtype: int64
0    3
1    0
2    0
Name: 39, dtype: int64
0    3
1    0
2    0
Name: 39, dtype: int64
0    3
1    0
2    0
Name: 40, dtype: int64
0    3
1    0
2    0
Name: 40, dtype: int64
0    3
1    0
2    0
Name: 40, dtype: int64
0    2
1    0
2    0
Name: 41, dtype: int64
0    2
1    0
2    0
Name: 41, dtype: int64
0    2
1    0
2    0
Name: 41, dtype: int64
0    3
1    0
2    1
Name: 42, dtype: int64
0    3
1    0
2    1
Name: 42, dtype: int64
0    3
1    0
2    1
Name: 42, dtype: int64
0    2
1    2
2    0
Name: 43, dtype: int64
0    2
1    2
2    0
Name: 43, dtype: int64
0    2
1    2
2    0
Name: 43, dtype: int64
0    3
1    0
2    0
Name: 44, dtype: int64
0    3
1    0
2    0
Name: 44, dtype: int64
0    3
1    0
2    0
Name: 44, dtype: int64
0    3
1    0
2    1
Name: 45, dtype: int64
0    3
1    0
2    1
Name: 45, dtype: int64
0    3
1    0
2    1
Name: 45, dtype: int64
0    3
1    0
2    1
Name: 46, dtype: int64
0    3
1    0
2    1
Name: 46, dtype: int64
0    3
1    0
2    1
Name: 46, dtype: int64
0    3
1    0
2    0
Name: 47, dtype: int64
0    3
1    0
2    0
Name: 47, dtype: int64
0    3
1    0
2    0
Name: 47, dtype: int64
0    3
1    0
2    1
Name: 48, dtype: int64
0    3
1    0
2    1
Name: 48, dtype: int64
0    3
1    0
2    1
Name: 48, dtype: int64
0    3
1    0
2    0
Name: 49, dtype: int64
0    3
1    0
2    0
Name: 49, dtype: int64
0    3
1    0
2    0
Name: 49, dtype: int64
0    3
1    1
2    1
Name: 50, dtype: int64
0    3
1    1
2    1
Name: 50, dtype: int64
0    3
1    1
2    1
Name: 50, dtype: int64
0    3
1    0
2    1
Name: 51, dtype: int64
0    3
1    0
2    1
Name: 51, dtype: int64
0    3
1    0
2    1
Name: 51, dtype: int64
0    1
1    0
2    0
Name: 52, dtype: int64
0    1
1    0
2    0
Name: 52, dtype: int64
0    1
1    0
2    0
Name: 52, dtype: int64
0    2
1    0
2    0
Name: 53, dtype: int64
0    2
1    0
2    0
Name: 53, dtype: int64
0    2
1    0
2    0
Name: 53, dtype: int64
0    1
1    1
2    1
Name: 54, dtype: int64
0    1
1    1
2    1
Name: 54, dtype: int64
0    1
1    1
2    1
Name: 54, dtype: int64
0    1
1    0
2    1
Name: 55, dtype: int64
0    1
1    0
2    1
Name: 55, dtype: int64
0    1
1    0
2    1
Name: 55, dtype: int64
0    2
1    0
2    0
Name: 56, dtype: int64
0    2
1    0
2    0
Name: 56, dtype: int64
0    2
1    0
2    0
Name: 56, dtype: int64
0    3
1    0
2    1
Name: 57, dtype: int64
0    3
1    0
2    1
Name: 57, dtype: int64
0    3
1    0
2    1
Name: 57, dtype: int64
0    2
1    2
2    0
Name: 58, dtype: int64
0    2
1    2
2    0
Name: 58, dtype: int64
0    2
1    2
2    0
Name: 58, dtype: int64
0    3
1    2
2    1
Name: 59, dtype: int64
0    3
1    2
2    1
Name: 59, dtype: int64
0    3
1    2
2    1
Name: 59, dtype: int64
0    3
1    0
2    1
Name: 60, dtype: int64
0    3
1    0
2    1
Name: 60, dtype: int64
0    3
1    0
2    1
Name: 60, dtype: int64
0    1
1    0
2    0
Name: 61, dtype: int64
0    1
1    0
2    0
Name: 61, dtype: int64
0    1
1    0
2    0
Name: 61, dtype: int64
0    1
1    0
2    1
Name: 62, dtype: int64
0    1
1    0
2    1
Name: 62, dtype: int64
0    1
1    0
2    1
Name: 62, dtype: int64
0    3
1    2
2    1
Name: 63, dtype: int64
0    3
1    2
2    1
Name: 63, dtype: int64
0    3
1    2
2    1
Name: 63, dtype: int64
0    1
1    0
2    1
Name: 64, dtype: int64
0    1
1    0
2    1
Name: 64, dtype: int64
0    1
1    0
2    1
Name: 64, dtype: int64
0    3
1    1
2    1
Name: 65, dtype: int64
0    3
1    1
2    1
Name: 65, dtype: int64
0    3
1    1
2    1
Name: 65, dtype: int64
0    2
1    0
2    0
Name: 66, dtype: int64
0    2
1    0
2    0
Name: 66, dtype: int64
0    2
1    0
2    0
Name: 66, dtype: int64
0    3
1    0
2    1
Name: 67, dtype: int64
0    3
1    0
2    1
Name: 67, dtype: int64
0    3
1    0
2    1
Name: 67, dtype: int64
0    3
1    2
2    0
Name: 68, dtype: int64
0    3
1    2
2    0
Name: 68, dtype: int64
0    3
1    2
2    0
Name: 68, dtype: int64
0    3
1    0
2    1
Name: 69, dtype: int64
0    3
1    0
2    1
Name: 69, dtype: int64
0    3
1    0
2    1
Name: 69, dtype: int64
0    2
1    0
2    1
Name: 70, dtype: int64
0    2
1    0
2    1
Name: 70, dtype: int64
0    2
1    0
2    1
Name: 70, dtype: int64
0    3
1    2
2    0
Name: 71, dtype: int64
0    3
1    2
2    0
Name: 71, dtype: int64
0    3
1    2
2    0
Name: 71, dtype: int64
0    2
1    0
2    1
Name: 72, dtype: int64
0    2
1    0
2    1
Name: 72, dtype: int64
0    2
1    0
2    1
Name: 72, dtype: int64
0    3
1    0
2    1
Name: 73, dtype: int64
0    3
1    0
2    1
Name: 73, dtype: int64
0    3
1    0
2    1
Name: 73, dtype: int64
0    3
1    0
2    1
Name: 74, dtype: int64
0    3
1    0
2    1
Name: 74, dtype: int64
0    3
1    0
2    1
Name: 74, dtype: int64
0    3
1    0
2    1
Name: 75, dtype: int64
0    3
1    0
2    1
Name: 75, dtype: int64
0    3
1    0
2    1
Name: 75, dtype: int64
0    3
1    0
2    1
Name: 76, dtype: int64
0    3
1    0
2    1
Name: 76, dtype: int64
0    3
1    0
2    1
Name: 76, dtype: int64
0    3
1    0
2    1
Name: 77, dtype: int64
0    3
1    0
2    1
Name: 77, dtype: int64
0    3
1    0
2    1
Name: 77, dtype: int64
0    2
1    2
2    1
Name: 78, dtype: int64
0    2
1    2
2    1
Name: 78, dtype: int64
0    2
1    2
2    1
Name: 78, dtype: int64
0    3
1    0
2    0
Name: 79, dtype: int64
0    3
1    0
2    0
Name: 79, dtype: int64
0    3
1    0
2    0
Name: 79, dtype: int64
0    3
1    0
2    1
Name: 80, dtype: int64
0    3
1    0
2    1
Name: 80, dtype: int64
0    3
1    0
2    1
Name: 80, dtype: int64
0    3
1    0
2    1
Name: 81, dtype: int64
0    3
1    0
2    1
Name: 81, dtype: int64
0    3
1    0
2    1
Name: 81, dtype: int64
0    3
1    0
2    0
Name: 82, dtype: int64
0    3
1    0
2    0
Name: 82, dtype: int64
0    3
1    0
2    0
Name: 82, dtype: int64
0    1
1    0
2    1
Name: 83, dtype: int64
0    1
1    0
2    1
Name: 83, dtype: int64
0    1
1    0
2    1
Name: 83, dtype: int64
0    2
1    0
2    0
Name: 84, dtype: int64
0    2
1    0
2    0
Name: 84, dtype: int64
0    2
1    0
2    0
Name: 84, dtype: int64
0    3
1    0
2    0
Name: 85, dtype: int64
0    3
1    0
2    0
Name: 85, dtype: int64
0    3
1    0
2    0
Name: 85, dtype: int64
0    3
1    3
2    1
Name: 86, dtype: int64
0    3
1    3
2    1
Name: 86, dtype: int64
0    3
1    3
2    1
Name: 86, dtype: int64
0    3
1    0
2    1
Name: 87, dtype: int64
0    3
1    0
2    1
Name: 87, dtype: int64
0    3
1    0
2    1
Name: 87, dtype: int64
0    1
1    2
2    0
Name: 88, dtype: int64
0    1
1    2
2    0
Name: 88, dtype: int64
0    1
1    2
2    0
Name: 88, dtype: int64
0    3
1    0
2    1
Name: 89, dtype: int64
0    3
1    0
2    1
Name: 89, dtype: int64
0    3
1    0
2    1
Name: 89, dtype: int64
0    3
1    0
2    1
Name: 90, dtype: int64
0    3
1    0
2    1
Name: 90, dtype: int64
0    3
1    0
2    1
Name: 90, dtype: int64
0    3
1    0
2    1
Name: 91, dtype: int64
0    3
1    0
2    1
Name: 91, dtype: int64
0    3
1    0
2    1
Name: 91, dtype: int64
0    1
1    0
2    1
Name: 92, dtype: int64
0    1
1    0
2    1
Name: 92, dtype: int64
0    1
1    0
2    1
Name: 92, dtype: int64
0    3
1    2
2    1
Name: 93, dtype: int64
0    3
1    2
2    1
Name: 93, dtype: int64
0    3
1    2
2    1
Name: 93, dtype: int64
0    3
1    0
2    1
Name: 94, dtype: int64
0    3
1    0
2    1
Name: 94, dtype: int64
0    3
1    0
2    1
Name: 94, dtype: int64
0    3
1    0
2    1
Name: 95, dtype: int64
0    3
1    0
2    1
Name: 95, dtype: int64
0    3
1    0
2    1
Name: 95, dtype: int64
0    1
1    0
2    1
Name: 96, dtype: int64
0    1
1    0
2    1
Name: 96, dtype: int64
0    1
1    0
2    1
Name: 96, dtype: int64
0    1
1    1
2    1
Name: 97, dtype: int64
0    1
1    1
2    1
Name: 97, dtype: int64
0    1
1    1
2    1
Name: 97, dtype: int64
0    2
1    1
2    0
Name: 98, dtype: int64
0    2
1    1
2    0
Name: 98, dtype: int64
0    2
1    1
2    0
Name: 98, dtype: int64
0    2
1    0
2    1
Name: 99, dtype: int64
0    2
1    0
2    1
Name: 99, dtype: int64
0    2
1    0
2    1
Name: 99, dtype: int64
0    3
1    0
2    0
Name: 100, dtype: int64
0    3
1    0
2    0
Name: 100, dtype: int64
0    3
1    0
2    0
Name: 100, dtype: int64
0    3
1    0
2    1
Name: 101, dtype: int64
0    3
1    0
2    1
Name: 101, dtype: int64
0    3
1    0
2    1
Name: 101, dtype: int64
0    1
1    1
2    1
Name: 102, dtype: int64
0    1
1    1
2    1
Name: 102, dtype: int64
0    1
1    1
2    1
Name: 102, dtype: int64
0    3
1    0
2    1
Name: 103, dtype: int64
0    3
1    0
2    1
Name: 103, dtype: int64
0    3
1    0
2    1
Name: 103, dtype: int64
0    3
1    0
2    1
Name: 104, dtype: int64
0    3
1    0
2    1
Name: 104, dtype: int64
0    3
1    0
2    1
Name: 104, dtype: int64
0    3
1    0
2    1
Name: 105, dtype: int64
0    3
1    0
2    1
Name: 105, dtype: int64
0    3
1    0
2    1
Name: 105, dtype: int64
0    3
1    0
2    0
Name: 106, dtype: int64
0    3
1    0
2    0
Name: 106, dtype: int64
0    3
1    0
2    0
Name: 106, dtype: int64
0    3
1    0
2    1
Name: 107, dtype: int64
0    3
1    0
2    1
Name: 107, dtype: int64
0    3
1    0
2    1
Name: 107, dtype: int64
0    3
1    0
2    1
Name: 108, dtype: int64
0    3
1    0
2    1
Name: 108, dtype: int64
0    3
1    0
2    1
Name: 108, dtype: int64
0    3
1    0
2    0
Name: 109, dtype: int64
0    3
1    0
2    0
Name: 109, dtype: int64
0    3
1    0
2    0
Name: 109, dtype: int64
0    1
1    0
2    1
Name: 110, dtype: int64
0    1
1    0
2    1
Name: 110, dtype: int64
0    1
1    0
2    1
Name: 110, dtype: int64
0    3
1    0
2    0
Name: 111, dtype: int64
0    3
1    0
2    0
Name: 111, dtype: int64
0    3
1    0
2    0
Name: 111, dtype: int64
0    3
1    0
2    1
Name: 112, dtype: int64
0    3
1    0
2    1
Name: 112, dtype: int64
0    3
1    0
2    1
Name: 112, dtype: int64
0    3
1    0
2    0
Name: 113, dtype: int64
0    3
1    0
2    0
Name: 113, dtype: int64
0    3
1    0
2    0
Name: 113, dtype: int64
0    3
1    0
2    0
Name: 114, dtype: int64
0    3
1    0
2    0
Name: 114, dtype: int64
0    3
1    0
2    0
Name: 114, dtype: int64
0    3
1    0
2    1
Name: 115, dtype: int64
0    3
1    0
2    1
Name: 115, dtype: int64
0    3
1    0
2    1
Name: 115, dtype: int64
0    3
1    0
2    1
Name: 116, dtype: int64
0    3
1    0
2    1
Name: 116, dtype: int64
0    3
1    0
2    1
Name: 116, dtype: int64
0    2
1    0
2    1
Name: 117, dtype: int64
0    2
1    0
2    1
Name: 117, dtype: int64
0    2
1    0
2    1
Name: 117, dtype: int64
0    1
1    1
2    1
Name: 118, dtype: int64
0    1
1    1
2    1
Name: 118, dtype: int64
0    1
1    1
2    1
Name: 118, dtype: int64
0    3
1    2
2    0
Name: 119, dtype: int64
0    3
1    2
2    0
Name: 119, dtype: int64
0    3
1    2
2    0
Name: 119, dtype: int64
0    2
1    0
2    1
Name: 120, dtype: int64
0    2
1    0
2    1
Name: 120, dtype: int64
0    2
1    0
2    1
Name: 120, dtype: int64
0    3
1    0
2    1
Name: 121, dtype: int64
0    3
1    0
2    1
Name: 121, dtype: int64
0    3
1    0
2    1
Name: 121, dtype: int64
0    2
1    0
2    1
Name: 122, dtype: int64
0    2
1    0
2    1
Name: 122, dtype: int64
0    2
1    0
2    1
Name: 122, dtype: int64
0    2
1    0
2    0
Name: 123, dtype: int64
0    2
1    0
2    0
Name: 123, dtype: int64
0    2
1    0
2    0
Name: 123, dtype: int64
0    1
1    1
2    1
Name: 124, dtype: int64
0    1
1    1
2    1
Name: 124, dtype: int64
0    1
1    1
2    1
Name: 124, dtype: int64
0    3
1    0
2    1
Name: 125, dtype: int64
0    3
1    0
2    1
Name: 125, dtype: int64
0    3
1    0
2    1
Name: 125, dtype: int64
0    3
1    0
2    1
Name: 126, dtype: int64
0    3
1    0
2    1
Name: 126, dtype: int64
0    3
1    0
2    1
Name: 126, dtype: int64
0    3
1    0
2    1
Name: 127, dtype: int64
0    3
1    0
2    1
Name: 127, dtype: int64
0    3
1    0
2    1
Name: 127, dtype: int64
0    3
1    1
2    0
Name: 128, dtype: int64
0    3
1    1
2    0
Name: 128, dtype: int64
0    3
1    1
2    0
Name: 128, dtype: int64
0    3
1    0
2    1
Name: 129, dtype: int64
0    3
1    0
2    1
Name: 129, dtype: int64
0    3
1    0
2    1
Name: 129, dtype: int64
0    3
1    0
2    1
Name: 130, dtype: int64
0    3
1    0
2    1
Name: 130, dtype: int64
0    3
1    0
2    1
Name: 130, dtype: int64
0    3
1    0
2    1
Name: 131, dtype: int64
0    3
1    0
2    1
Name: 131, dtype: int64
0    3
1    0
2    1
Name: 131, dtype: int64
0    3
1    0
2    0
Name: 132, dtype: int64
0    3
1    0
2    0
Name: 132, dtype: int64
0    3
1    0
2    0
Name: 132, dtype: int64
0    2
1    0
2    0
Name: 133, dtype: int64
0    2
1    0
2    0
Name: 133, dtype: int64
0    2
1    0
2    0
Name: 133, dtype: int64
0    2
1    0
2    1
Name: 134, dtype: int64
0    2
1    0
2    1
Name: 134, dtype: int64
0    2
1    0
2    1
Name: 134, dtype: int64
0    2
1    0
2    1
Name: 135, dtype: int64
0    2
1    0
2    1
Name: 135, dtype: int64
0    2
1    0
2    1
Name: 135, dtype: int64
0    1
1    2
2    0
Name: 136, dtype: int64
0    1
1    2
2    0
Name: 136, dtype: int64
0    1
1    2
2    0
Name: 136, dtype: int64
0    1
1    0
2    1
Name: 137, dtype: int64
0    1
1    0
2    1
Name: 137, dtype: int64
0    1
1    0
2    1
Name: 137, dtype: int64
0    3
1    0
2    1
Name: 138, dtype: int64
0    3
1    0
2    1
Name: 138, dtype: int64
0    3
1    0
2    1
Name: 138, dtype: int64
0    1
1    0
2    1
Name: 139, dtype: int64
0    1
1    0
2    1
Name: 139, dtype: int64
0    1
1    0
2    1
Name: 139, dtype: int64
0    3
1    2
2    0
Name: 140, dtype: int64
0    3
1    2
2    0
Name: 140, dtype: int64
0    3
1    2
2    0
Name: 140, dtype: int64
0    3
1    0
2    0
Name: 141, dtype: int64
0    3
1    0
2    0
Name: 141, dtype: int64
0    3
1    0
2    0
Name: 141, dtype: int64
0    3
1    0
2    0
Name: 142, dtype: int64
0    3
1    0
2    0
Name: 142, dtype: int64
0    3
1    0
2    0
Name: 142, dtype: int64
0    3
1    0
2    1
Name: 143, dtype: int64
0    3
1    0
2    1
Name: 143, dtype: int64
0    3
1    0
2    1
Name: 143, dtype: int64
0    2
1    0
2    1
Name: 144, dtype: int64
0    2
1    0
2    1
Name: 144, dtype: int64
0    2
1    0
2    1
Name: 144, dtype: int64
0    2
1    1
2    1
Name: 145, dtype: int64
0    2
1    1
2    1
Name: 145, dtype: int64
0    2
1    1
2    1
Name: 145, dtype: int64
0    3
1    0
2    1
Name: 146, dtype: int64
0    3
1    0
2    1
Name: 146, dtype: int64
0    3
1    0
2    1
Name: 146, dtype: int64
0    3
1    2
2    0
Name: 147, dtype: int64
0    3
1    2
2    0
Name: 147, dtype: int64
0    3
1    2
2    0
Name: 147, dtype: int64
0    2
1    2
2    1
Name: 148, dtype: int64
0    2
1    2
2    1
Name: 148, dtype: int64
0    2
1    2
2    1
Name: 148, dtype: int64
0    2
1    0
2    1
Name: 149, dtype: int64
0    2
1    0
2    1
Name: 149, dtype: int64
0    2
1    0
2    1
Name: 149, dtype: int64
0    2
1    0
2    1
Name: 150, dtype: int64
0    2
1    0
2    1

In [10]:
a = 0
for i in range(len(yusuf_classifier)):
    if yusuf_classifier[i] == gercek_degerler[i]:
        a += 1   
print(a / len(df))

0.32098765432098764

In [11]:
0.5, 0.505, 0.52, 0.47, 0.48, 0.51, 0.505, 0.545, 0.53, 0.505

(0.5, 0.505, 0.52, 0.47, 0.48, 0.51, 0.505, 0.545, 0.53, 0.505)